<!DOCTYPE html>
<html>
 <head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=1100px, initial-scale=1.0">
     <link rel="stylesheet" href="../static/home.css">

     <title>
      Create quote
     </title>

 </head>
 <body>
  <nav class="navbar">
       <div class="menu">
         <li class="items"><a href="home.html">Home</a></li>
         <li class="items"><a href="create.html">Create</a></li>
         <li class="items"><a href="profile.html">Profile</a></li>
         <li class="log_out"><a href="signin.html">Log_Out</a></li>
       </div>
     </ul>
   </nav>
    <div class = "main">
        <div class = "content">
          <h4 class = "add_quote" >You can add your quote here:</h4>
          <input class = "enter_quote">
          <button class = "submit_quote">Add</button>
        </div>
    </div>
  </body>
</html>