<!DOCTYPE html>
<html>
 <head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=1100px, initial-scale=1.0">
     <link rel="stylesheet" href="../static/home.css">

     <title>
      Quote generator
     </title>

 </head>
 <body>
  <nav class="navbar">
       <div class="menu">
         <li class="items"><a href="home.html">Home</a></li>
         <li class="items"><a href="create.html">Create</a></li>
         <li class="items"><a href="profile.html">Profile</a></li>
         <li class="log_out"><a href="signin.html">Log_Out</a></li>
       </div>
     </ul>
   </nav>

 <div class="quotes">
 <h1>“Learn from yesterday, live for today, hope for tomorrow”</h1>
 </div>

 <div>
     <button class="button-28" role="button">Generate new quote</button>
 </div>

 </body>
</html>